header{
    display: flex;
    flex-direction: row;
}

.header__title{
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    height: 800px;
}

footer {
    padding: 15px;
    height: 20px;
    background-color: gray;
}
